.from {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 24px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: solid 1px #eeeeee;
    border-radius: 24px;
}

.input {
    line-height: 1.5em;
    border-radius: 4px;
    border: solid 1px #eeeeee;
    padding: 4px 6px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.error {
    color: red;
    font-weight: 700;
}