button{
    width: 100px;
    height:30px;
    border-radius: 4px;
    margin:50px;
}
button .on{
    color:#666;
    background-color: #ccc;
}
button .off{
    color:#888;
    background-color: white;
}